mixin table(index, image, title, price, status, id)
    tr
        td #{index + 1}
        td 
            img(src=image, alt="")
        td #{title}
        td #{price}
        td 
            if (status == "active")
                a(href=`${prefixAdmin}/products/inactive/${id}` class="badge badge-success") Hoạt động
            else 
                a(href=`${prefixAdmin}/products/active/${id}` class="badge badge-danger") Dừng hoạt động
        td  
            button(class="btn btn-warning btn-sm") Sửa
            button(class="btn btn-danger btn-sm ml-1") Xóa