extends ../../layouts/default.pug
include ../../mixins/table.pug
include ../../mixins/pagination.pug

block main  
    .find-box 
        .title
            h2 Bộ lọc và tìm kiếm
        hr
        .inner-wrap
            .inner-bo-loc 
                each item in filterStatus
                    button(type="button" class=`btn btn-success ${item.class}` button-status=item.status) #{item.name}
            .inner-search
                form(id="form-search")
                    input(type="text" placeholder="Nhập từ khóa..." name="keyword" value=keyword)
                    button(type="submit") Tìm 

    hr
    h2 Danh sách sản phẩm
    form(
        action=`${prefixAdmin}/products/change-multi?_method=PATCH`
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start 
            .form-group 
                select(name="type" class="form-control") 
                    option(value="active") Hoạt động 
                    option(value="inactive") Dừng hoạt động 
                    option(value="change-position") Thay đổi vị trí 
                    option(value="delete-all") Xóa tất cả 
            .form-group.d-none 
                input(type="text" class="form-control" name="ids" value)
            button(type="submit" class="btn btn-primary") Áp dụng 
    table(
        class="table table-hover table-sm "
        checkbox-multi
    )
        thead
            tr
                th 
                    input(type="checkbox" name="checkall")
                th STT
                th Hình ảnh
                th Tiều đề
                th Giá
                th Vị trí 
                th Trạng thái
                th Hành động 

        tbody
            each item, index in records   
                +table(index, item.image, item.title, item.price, item.status, item.id, item.positon)
    +pagination(objectPagination)
    form(
        form-change-status 
        method="POST"
        path=`${prefixAdmin}/products/change-status`
        action=""
    )
    form(
        form-delete-item 
        method="POST"
        path=`${prefixAdmin}/products/delete`
        action=""
    )